*{
    margin : 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url(/images/donation8.jpg),linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.74),black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    text-align: justify;
    padding: 50px 150px;
}
.header-title{

    padding: 250px 25% 10px 25%;
    font-size: 65px;
    font-weight: 2000;
    text-align: center;
    color: white;
    text-align: center;
}
.header-description{
    
    padding : 15px 30%;
    font-size: 18px;
    text-align: center;
    color: rgb(218, 215, 215);
    text-align: center;

}
.button{
   margin-top:150px;
   text-align: center;
}
.common-button{
    background-color: #ff5959;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 70px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 200px;
    
}